
 body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background: fixed url(picture/shattered-island.gif);
    background-position: center;
    
 }
 body::before,
 body::after {
   content: "";
   display: table;
   clear: both;
 }
 body * {
   box-sizing: inherit;
 }

h1,p{
    font-family: "Roboto";
    margin: 0; 
    padding: 0;
}